<!-- templates/home.html-->
{% extends 'profile_base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<br>

<h2> {{user.first_name}} {{user.last_name}} (@{{user.username}}) </h2>
<i>{{user.profile.followers}} followers </i>
<br>
<i>Profile Last Updated : {{user.profile.last_update_time}} </i> <a href="{% url 'update' user.id %}"> (Update Now)</a>


<ul>
    {% for repo in user.profile.repository_set.all %}
        <li>{{repo.name}} - {{repo.num_stars}} stars</li>
    {% endfor %}
</ul>
  
{% endblock %}