<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <h3><center>Built by 200050050 200050115</center></h3>
  <h1><center>Welcome to Github Profiles!</center></h1>
  <br>
  <br>
  <center>
    <a href="{% url 'profile' current_user_id %}" class="button">My Profile</a>
    <a href="{% url 'explore' %}" class="button">Explore</a>
    <a href="{% url 'logout' %}" class="button">Log Out</a>
  </center>
  
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>